.header {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.heading {
  color: white;
  font-size: 1.5em;
}

.nav-menu {
  flex-grow: 1;
  border-bottom: 2px solid transparent;
}

.nav-menu .ant-menu-item-selected {
  border-bottom-color: red;
}

.avatar {
  margin-left: auto;
  margin-right: 20px;
}
